body {
    font-family: monospace;
}
#countLabel {
    display: block;
    text-align: center;
    font-size: 5rem;
}
#groupBtn {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}
button {
    color: white;
    background-color: #333;
    padding: 0.5rem;
}
button:hover {
    background-color: black;
}